#reviewContainer{
    border: solid; 
    border-color: lightgrey;
    border-width: 0.5px;
    padding: 10px;
}

.comment {
    text-align: left;
  }

.ratingText{
    text-align: left;
    font-weight: bold;
}
