.attribute {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.font {
  font-weight: bold;
  font-size: 20px;
}

.main {
  text-align: center;
}

.restaurantcontainer{
  border: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  padding: 10px;
}

.restaurantbox {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
  margin: 5px;
}

