.restaurantlist{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    flex: 1;
    margin: 20px !important;
    min-width: 200px !important;
}

.bold{
    font-weight: bold;
}