.restaurantlist{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

/*use flex-box with margin and min-width to make the restaurants add up next 
to each other*/
.card{
    flex: 1;
    margin: 20px !important;
    min-width: 200px !important;
}

.bold{
    font-weight: bold;
}