.objectdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    border: solid 0.5px;
    background-color: white;
}

.infodiv{
    display: flex;
    flex-direction: column;
}

.infocontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imagediv{
    border: solid;
    width: 150px;
    height: 150px;
    background-color: pink;
}